<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-5 form-group">
            <label>Select Category</label>
            <table class="table">
              <tr>
                <th>#</th>
                <th>Category</th>
                <th> X </th>
              </tr>
              <tr *ngFor="let category of lcategory; let i = index">
                <td>{{i+1}}</td>
                <td>{{category.name}}</td>
                <td>
                  <div class="col-xs-1">
                    <button type="button" class="btn btn-success" (click)="onSelectCategory(i)">V</button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      <div>
        <label for="dimension-MinHeight">Min-Height</label>
        <input type="text" id="MaxHeight-text" formControlName="productDimensionminHeight" class="form-control">
        <label for="dimension-MaxHeight">Max-Height</label>
        <input type="text" id="MinHeight-text" formControlName="productDimensionmaxHeight" class="form-control">

        <label for="dimension-MinWidth">Min-Width</label>
        <input type="text" id="MinWidth-text" formControlName="productDimensionminWidth" class="form-control">
        <label for="dimension-MinWidth">Max-Width</label>
        <input type="text" id="MinWidth-text" formControlName="productDimensionmaxWidth" class="form-control">

        <label for="dimension-MinDepth">Min-Depth</label>
        <input type="text" id="MaxDepth-text" formControlName="productDimensionminDepth" class="form-control">
        <label for="dimension-MaxDepth">Max-Depth</label>
        <input type="text" id="MaxDepth-text" formControlName="productDimensionmaxDepth" class="form-control">
        <br>
        <br>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Material Finishes</label>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Material Finish</th>
              <th> X </th>
            </tr>
            <tr *ngFor="let materialfinish of lmaterialFinishes; let i = index">
              <td>{{i+1}}</td>
              <td>{{materialfinish.material.name}} {{materialfinish.name}}</td>
              <td>
                <div class="col-xs-1">
                  <button type="button" class="btn btn-danger" (click)="onDeletePossibleMaterialFinish(i)">x</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Add Material Finishes</label>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Possible Material Finishes</th>
              <th> V </th>
            </tr>
            <tr *ngFor="let materialfinish of possibleMaterialFinishes; let i = index">
              <td>{{i+1}}</td>
              <td>{{materialfinish.material.name}} {{materialfinish.name}}</td>
              <td>
                <div class="col-xs-1">
                  <button type="button" class="btn btn-success" (click)="onAddPossibleMaterialFinish(i)">v</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Associated Products</label>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Product</th>
              <th> X </th>
            </tr>
            <tr *ngFor="let product of lsubProducts; let i = index">
              <td>{{i+1}}</td>
              <td>{{product.name}}</td>
              <td>
                <div class="col-xs-1">
                  <button type="button" class="btn btn-danger" (click)="onDeleteSubProduct(i)">x</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Add Products</label>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Product</th>
              <th> V </th>
            </tr>
            <tr *ngFor="let product of lproducts; let i = index">
              <td>{{i+1}}</td>
              <td>{{product.name}}</td>
              <td>
                <div class="col-xs-1">
                  <button type="button" class="btn btn-success" (click)="onAddSubProduct(i)">v</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="onSubmit()">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>