<h1>Privacy Policy</h1>

<p>
  All the information collected through this website is used only to improve the quality of your website usage.
</p>
<p>
  The ensurance of the website users privacy is important for SicBricolage.
</p>
<p>
  All the private information of our members is used acording the last GDPR article.
</p>
<p>
  The information that can be used may include your name, email , cellphone number , address and others.
</p>
<p>
  The users have the right to ask to see how their data was used since their registry on the website. Contact the
  support by email at support@sicbricolage.com
</p>