<div>
  Init Date : <input #dt_init type="date" name="Init_Date" id="dt_init"class=b>
  End Date : <input #dt_end type="date" name="End_Date" id="dt_end" class=b>
</div>

<div>
  <button type="button" class=b>Cancel</button>
  <button type="button" class=b (click)="getOrdersbyDate(dt_init.value,dt_end.value)">OK</button>
</div>

<br>
<br>

<div>
  <select #state_id id="state_id">
    <option value="0">Select State:</option>
    <option value="SUBMITTED">Submitted Order</option>
    <option value="VALIDATED">Validated Order</option>
    <option value="ASSIGNED">Assigned Order</option>
    <option value="IN_PRODUCTION">In Production Order</option>
    <option value="PACKING">Packing Order</option>
    <option value="READY_TO_SHIP">Ready To Ship Order</option>
    <option value="SHIPPED">Shipped Order</option>
    <option value="DELIVERED">Delivered Order</option>
    <option value="RECEIVED">Received Order</option>
  </select>
</div>

<div>
  <button type="button" class=b>Cancel</button>
  <button type="button" class=b (click)="getOrdersbyState(state_id.value)">OK</button>
</div>

<li *ngFor="let order of orders">
  <span class="badge">{{order._id}}----{{order.state}}----{{order.datePlaced}}</span>
</li>