<div>
  Init Date : <input type="date" name="Init_Date" class=b>
  End Date : <input type="date" name="End_Date" class=b>
</div>

<div>
  <button type="button" class=b >Cancel</button>
  <button type="button" class=b>OK</button>
</div>

<br>
<br>

<div>
  <select>
    <option value="0">Select State:</option>
    <option value="1">Submited Order</option>
    <option value="2">Validated Order</option>
    <option value="3">Assigned Order</option>
    <option value="4">In Production Order</option>
    <option value="5">Packing Order</option>
    <option value="6">Ready To Ship Order</option>
    <option value="7">Shipped Order</option>
    <option value="8">Delivered Order</option>
    <option value="9">Received Order</option>
  </select>
</div>

<div>
  <button type="button" class=b >Cancel</button>
  <button type="button" class=b>OK</button>
</div>