<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="dimensions">Dimensions</label>
          <table class="table">

            <tr>
              <th>Height</th>
              <th>Depth</th>
              <th>Width</th>
            </tr>
            <tr>
              <td><span>{{slider1.value}}</span></td>
              <td><span>{{slider2.value}}</span></td>
              <td><span>{{slider3.value}}</span></td>
            </tr>
            <tr>
              <td><input type="range" #slider1 min="{{editedItem.dimensions.minHeight}}" max="{{editedItem.dimensions.maxHeight}}"
                  value="1" [(ngModel)]="heightSliderVal" class="slider" (change)="onHeightSliderChange(slider1.value)"></td>
              <td><input type="range" #slider2 min="{{editedItem.dimensions.minDepth}}" max="{{editedItem.dimensions.maxDepth}}"
                  value="1" [(ngModel)]="depthSliderVal" class="slider" (change)="onDepthSliderChange(slider2.value)"></td>
              <td><input type="range" #slider3 min="{{editedItem.dimensions.minWidth}}" max="{{editedItem.dimensions.maxWidth}}"
                  value="1" [(ngModel)]="widthSliderVal" class="slider" (change)="onWidthSliderChange(slider3.value)"></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Associated Products</label>
          <table class="table">
            <tr>
              <th>#</th>
              <th>Product</th>
              <th> X </th>
            </tr>
            <tr *ngFor="let product of editedItem.products; let i = index">
              <td>{{product.productId}}</td>
              <td>{{product.name}}</td>
              <td>
                <div class="col-xs-1">
                  <button type="button" class="btn btn-danger" (click)="onDeleteSubProduct(i)">x</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" *ngIf="editMode">Update</button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>